# Kestrel: An XMPP-based Many-Task Computing Scheduler
# Author: Lance Stout <lancestout@gmail.com>
#
# Copyright 2009-2010 Clemson University
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# =====================================================================
# Example Kestrel Configuration:
# =====================================================================

# XMPP 
# ---------------------------------------------------------------------
# Credentials for connecting to an XMPP server.
# Options:
#   method: client|component - The type of XMPP connection to use.
#                              Accepted values are client to use a 
#                              typical XMPP client session, or 
#                              component to use a more scalable
#                              server component session.
#   jid: string              - The username or component name
#   password: string         - This is plaintext storage, modify read
#                              permissions of this file accordingly.
#   server: string           - Optional, specify the name of the XMPP
#                              server. Normally, the JID will provide
#                              the server name.
#   port: int                - Optional, specify the connection port.
#                              The default is 5222.
[XMPP]
method=client
jid=worker@localhost
server=localhost
password=worker

# Worker
# ---------------------------------------------------------------------
# Configuration for running a Kestrel worker agent.
# Options:
#  manager: string - The JID for the manager agent that the worker
#                    will accept tasks from.
#  profile: string - A space separated list of tags that identify
#                    the capabilities of the worker. The list
#                    can span multiple lines so long as the first
#                    character of the line is a space. 
[worker]
manager=pool@manager.localhost
profile=EXPERIMENTAL PYTHON PYTHON2.6 LINUX GCC4.5
        FEDORA FEDORA12 

